@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Rajdhani:wght@400;500;600;700&display=swap');

:root {
  /* Primary Colors */
  --red: #f75049;
  --blue: hsla(183, 100%, 69%, 1);
  --green: #1dedb3;

  /* Variants */
  --blue-border: hsla(183, 100%, 69%, 0.1);
  --blue-fill: hsla(183, 100%, 69%, 0.3);

  /* Font Family */
  --rajhadji: 'Rajdhani, sans-serif';
  --orbitron: 'Orbitron, sans-serif';

  /* Font Weight */
  --fw-Light: 300;
  --fw-Regular: 400;
  --fw-Medium: 500;
  --fw-SemiBold: 600;
  --fw-Bold: 700;
  --fw-Black: 900;
}

/* RESET */
body,
html,
div,
span,
applet,
h1,
h2,
h3,
h4,
h5,
h6,
table,
abbr,
acronym,
address,
blockquote,
pre,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
}

.bgblue {
  background-color: var(--blue);
}

.bgRed {
  background-color: var(--red);
}
